@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html,
body {
  width: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #333333
}