@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face{
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-family: "Nunito";
}
html,
body {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: large;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #333333
}