@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face{
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-family: "Nunito";
}
html,
body {
  width: 100%;
  font-family: "Nunito";
  font-size: large;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* bi09khh is the toolbar buttons from draftJs */
.bi09khh {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
}
.bi09khh:hover {
  background-color: #ddd7d7;
}
#toolbar-active-button {
  background-color: #9c9898;
  border-radius: 4px;
}
.scrollbar {
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: #FFF9F9 #ddd7d7;
  scroll-behavior: smooth;
  scrollbar-highlight-color: aqua;
}