@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3eded;
  --foreground: #fff9f9;
  --accent: #201335bb;
  --paper: #e4dede;
  --hoverPaper: #d3cdcd;
  --border: #d1d5db;
  --hoverBorder: #9ca3af;
  --darkBorder: #2a232a;
  --darkHoverBorder: #4b3f4b;
  --darkBackground: #1f1a1e;
  --darkForeground: #362d36;
  --darkAccent: #7557a0;
  --darkAccentHover: #59417a;
  --darkText: #fff9f9;
  --darkPaper: #2c262c;
  --darkPaperHover: #413941;
}
@font-face {
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-family: "Nunito";
}
html,
body {
  width: 100%;
  font-family: "Nunito";
  overflow: hidden;
  font-size: 1rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* bi09khh is the toolbar buttons from draftJs */
.bi09khh {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
  @apply rounded-md text-black hover:bg-gray-200 dark:hover:bg-gray-700;
}
.bi09khh:hover {
  background-color: #ddd7d7;
}
.toolbar-button {
  @apply rounded-md text-gray-700 dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-700;
}
.toolbar-active-button {
  background-color: #e2e8f0;
  color: #000;
}
/* toolbar buttons that strangely don't owrk with the above class */
.akzb7t5 {
  background-color: #9c9898;
  border-radius: 0.375rem;
}
#toolbar-active-button {
  background-color: #9c9898;
  border-radius: 4px;
}
.scrollbar {
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: #fff9f9 #ddd7d7;
  scroll-behavior: smooth;
  scrollbar-highlight-color: aqua;
}
img {
  -webkit-user-drag: none; /* Prevents all images from being dragged */
  -webkit-user-select: none; /* Prevents all images from being selected */
  user-select: none; /* Standard property for compatibility */
}
.custom-header-one {
  font-size: 1.8em;
  font-weight: bold;
  margin: 1em 0;
}

.custom-header-two {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
}

.custom-header-three {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0;
}

.custom-blockquote {
  border-left: 4px solid #ccc;
  color: #666;
  padding-left: 1em;
  font-style: italic;
}
